.container {
  padding: 0 2rem;
}

.mapY {
  width: 100%;
  max-height: 70vh;
  overflow: auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  gap: 5px;
}

.mapX {
  width: 100%;
  margin: 0;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  gap: 5px;
}

.input {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid transparent;
}

.label {
  margin-right: .5rem;
}

.spawn {
  border-color: mediumslateblue !important;
  border-width: 2px;
}

.stone {
  border-color: cadetblue !important;
}

.lightmodealiceblue {
  color: aliceblue
}

.block {
  border-color: aliceblue !important;
}

@media (prefers-color-scheme: light) {
  .block {
    border-color: midnightblue !important;
  }
  .lightmodealiceblue {
    color: midnightblue;
  }
  .input {
    background-color: #efefef;
  }
}

.redMarker {
  border-color: crimson !important;
}

.yellowMarker {
  border-color: goldenrod !important;
}

.blueMarker {
  border-color: cornflowerblue !important;
}

.greenMarker {
  border-color: olivedrab !important;
}

.input:focus {
  border: 2px solid lightskyblue;
}

.text[color] {
  color: attr(color);
}

.settings {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 30%;
  align-items: center;
  margin-bottom: 1rem;
}

.space {
  margin-top: 1rem;
}